body{
	margin: 0;
	font-family: Segoe UI; 
}

/******************************* header-area ********************************/

.header-area{
	background-color: rgb(14, 28, 56);
	color: #ffffff;
}

.header-area .container{
	width: 40%;
	margin: auto;
	text-align: center;
	padding: 60px 0 40px;
}
.header-area .logo img{
	width: 80px;
	height: 80px;
}
.header-area h1{
	text-transform: uppercase;
	font-size: 44px;
}

.header-area .fontawesome i{
	color: #ffffff;
	font-size: 25px;	
	width: 25px;
	height: 25px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	margin-top: 90px;
}


/****************************** do-area *************************************/

.do-area{
	background-image: url("image/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.do-area .container{
	width: 50%;
	margin: auto;
	color: #333333;
}
.do-area .top-area{
	margin-top: 70px;
}
.do-area h1{
	margin-top: 70px;
	text-align: center;
	font-size: 44px;
	text-transform: uppercase;
}

.do-area .bottom-area p{
	font-size: 14px;
}
.do-area .bottom-area h3{
	text-transform: uppercase;
}
.do-area .bottom-area .template,
.do-area .bottom-area .brand,
.do-area .bottom-area .dreams{
	float: left;
	width: 31%;
	margin-right: 2%;
	overflow: hidden;
}
.do-area .bottom-area{
	margin-bottom: 70px;
	overflow: hidden; /*[!!! Dangerous !!! Must be given!!!]*/
}





/********************************** work-area *****************************************/

.work-area{
	color: #ffffff;
	background-color: rgb(14, 28, 56);
	text-align: center;
	text-transform: capitalize;
}

.work-area .container{
	width: 50%;
	margin: auto;
}

.work-area h1{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 70px;
	font-size: 44px;
	text-transform: uppercase;
}

.work-area .category ul {
	margin: 30px 0;
	list-style: none;
	padding: 0;
	display: inline-block;
}

.work-area .category ul li{
	float: left;
	margin-right: 30px;

}

.work-area .category ul li:first-child a{
	border-bottom: 2px solid #7b77c9;
}

.work-area .category a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding-bottom: 5px;
}

.work-area .category a:hover{
	border-bottom: 2px solid #7b77c9;
}

.work-area .row-1{
	overflow: hidden;
}

.work-area img{
	width: 100%;
}

.work-area h3{
	font-size: 14px;
}

.work-area p{
	font-size: 12px;
}

.work-area .row-1 .col{
	width: 30%;
	margin-right: 2%;
	float: left;
	margin-bottom: 30px;
}

.work-area .row-2 .col{
	width: 30%;
	margin-right: 2%;
	float: left;
}

.work-area button{
	color: #ffffff;
	margin: 60px 30px 60px 0;
	padding: 10px 30px;
	text-transform: capitalize;
	background-color: #7b77c9;
	border-radius: 5px;
	border: 1px solid rgb(14, 28, 56);
}





/********************************** photo-area ***********************************/

.photo-area{
	background-image: url('image/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: #464b4f;
}

.photo-area .container{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 70px 0;
}

.photo-area h1{
	margin-top: 0;
	font-size: 44px;
	text-transform: uppercase;
	
}

.photo-area img{
	width: 30%;
	margin-right: 2%;
}
.photo-area .row-1{
	margin: 30px 0 10px;
}

.photo-area button{
	color: #ffffff;
	margin-top: 60px ;
	padding: 10px 30px;
	text-transform: capitalize;
	background-color: #7b77c9;
	border-radius: 5px;
	border: 1px solid #ffffff;
}




/**************************** subscribe-area ******************************/

.subscribe-area{
	background-color: rgb(14, 28, 56);
	text-align: center;
	color: #ffffff;
} 

.subscribe-area .container{
	width: 40%;
	margin: auto;
	padding: 150px 0;
}

.subscribe-area img{
	margin-bottom: 30px;
}

.subscribe-area .input-area{
	margin-top: 50px;
}

.subscribe-area input[type="text"]{
	padding: 10px 100px 10px 10px;
	border-radius: 5px;
	border: 1px solid rgb(14, 28, 56);
	margin-right: 5px;
}

.subscribe-area input[type="submit"]{
	padding: 10px 50px;
	border-radius: 5px;
	border: 1px solid rgb(14, 28, 56);
	background-color: #7b77c9;
	color: #ffffff;
}





/************************* footer-area **************************/

.footer-area{
	background-image: url('');
	text-align: center;

}
.footer-area .container{
	width: 30%;
	margin: auto;
	padding: 50px 0;
}

.footer-area ul{
	margin-bottom: 40px;
	list-style: none;
	display: inline-block;
}

.footer-area ul li{
	float: left;
	margin-right: 30px;
}

.footer-area ul li a{
	font-size: 24px;
	color: #dbdbdb;
}

.footer-area p{
	font-size: 14px;
}